<div id="container">
  <h1>Ultra Chrome</h1>
  <!-- <div class="input-cell">
    <button mat-raised-button color="primary" (click)="upload()">Upload</button>
    <br />
    <br />
    <mat-slide-toggle [(ngModel)]="isExpressed"
      >Gene Expressed</mat-slide-toggle
    >
  </div> -->
  <div class="input-cell">
    <button mat-raised-button color="accent" (click)="loadExample(true)">
      Load Expressed Example
    </button>
    <br />
    <br />
    <button mat-raised-button color="primary" (click)="loadExample(false)">
      Load Not Expressed Example
    </button>
  </div>

  <div class="input-cell">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Select a model</mat-label>
      <mat-select (selectionChange)="selectModel($event.value)">
        <mat-option *ngFor="let model of models" value="{{ model }}">{{
          model
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <br />
    <button
      mat-raised-button
      color="accent"
      (click)="predict()"
      [disabled]="!model || !testset"
    >
      Predict
    </button>
    <br /><br />
    <mat-form-field appearance="outline" color="accent" *ngIf="prediction">
      <mat-label>Prediction</mat-label>
      <input matInput [value]="prediction" />
      <mat-icon matSuffix>visibility</mat-icon>
      <mat-hint
        >This is a value between 0 and 1: if > 0.5 gene expressed, not expressed
        otherwise</mat-hint
      >
    </mat-form-field>
    <br />
    <br />
    <h2 *ngIf="prediction && prediction > 0.5">Expressed</h2>
    <h2 *ngIf="prediction && prediction <= 0.5">Not Expressed</h2>
  </div>
</div>

<!--The content below is only a placeholder and can be replaced.-->
<div id="chart">
  <apx-chart
    *ngIf="chartOptions"
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [dataLabels]="chartOptions.dataLabels"
    [title]="chartOptions.title"
    [colors]="chartOptions.colors"
  ></apx-chart>
</div>
